package components

import "github.com/ivvija/blocky-ui/api"

templ Dash(status api.StatusResponse) {
	@baseWrap() {
		@HeaderBar(status)
		@queryForm()
		@queryResultEmpty()
	}
}

templ DashQueryResult(status api.StatusResponse, result api.QueryResponse) {
	@baseWrap() {
		@HeaderBar(status)
		@queryForm()
		@QueryResult(result)
	}
}
