package components

import "blocky-ui/api"

templ Dash(status int) {
	@baseWrap() {
		@HeaderBar(status)
		@queryForm()
		@queryResultEmpty()
	}
}

templ DashQueryResult(status int, result api.QueryResponse) {
	@baseWrap() {
		@HeaderBar(status)
		@queryForm()
		@QueryResult(result)
	}
}
